.cart-parent {
    background-color: var(--color-grey-lighter);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-header {
    display: block;
    margin: auto;
    padding: 2rem;
    width: max-content;
    font-size: 1.5rem;
}

.cart-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart-item-card {
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-light);
    display: flex;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 5px var(--color-grey-light);
    margin: auto 5rem 1rem auto;
}

.cart-item-img {
    background-color: var(--color-grey);
    padding: 1rem;
    max-width: 30%;
}

.cart-item-details {
    padding: 1rem;
    flex-grow: 1;
}

.cart-item-info p {
    margin: 0.5rem;
}

.item-name {
    font-size: 1.4rem;
}

.item-discount {
    color: var(--color-hover-grey);
}

.item-quantity {
    display: flex;
    align-items: center;
}

.item-qty {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-grey);
    border-radius: 0.2rem;
    margin-left: 0.5rem;
}

.item-qty-btn {
    font-size: 1.1rem;
    padding: 0.25rem 0.75rem;
    background-color: var(--color-grey);
    border: none;
    color: var(--primary-bg);
}

.qty {
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    margin: 0;
}

.item-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.item-card-btn {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 0.5rem;
}

.item-btn-cart {
    background-color: var(--color-red-accent);
    border: none;
    border-radius: 0.2rem;
    color: var(--primary-bg);
}

.item-btn-cart:hover {
    background-color: var(--color-red-dark);
}

.item-btn-wishlist {
    background-color: var(--color-grey-light);
    border: none;
    border-radius: 0.2rem;
}

.item-btn-wishlist:hover {
    background-color: var(--color-light-grey);
}

/* Cart Summary */

.cart-summary {
    border: 1px solid var(--color-grey-light);
    padding: 2rem;
    box-shadow: 5px 5px 5px var(--color-grey-light);
    background-color: var(--color-white);
    height: fit-content;
}

.cart-summary-head {
    font-size: 1.4rem;
}

.cart-summary-item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.cart-summary-items {
    padding: 0;
}

.summary-item {
    margin: 0.5rem 0;
}

.summary-total-item {
    font-size: 1.2rem;
}

.cart-summary-savings {
    margin: 1rem auto;
}

.summary-btn {
    background-color: var(--color-yellow);
    border: none;
    border-radius: 0.2rem;
}

.summary-btn:hover {
    background-color: var(--color-alert-warning);
    font-weight: 600;
}

/* Media */

@media screen and (max-width: 1024px) {

    .cart-header {
        text-align: center;
        padding: 1rem 1rem 0 1rem;
    }

    .cart-body {
        padding: 1rem;
    }

    .cart-summary {
        width: fit-content;
        margin-bottom: 1rem;
    }

    .cart-item-card {
        width: max-content;
        margin: 0 2rem 2rem 1rem;
    }

    .cart-item-img {
        max-width: 100%;
    }

    .cart-item-details {
        flex-grow: 0;
    }
}

@media screen and (max-width: 768px) {

    .cart-parent {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .cart-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .cart-item-card {
        flex-direction: column;
        width: max-content;
        margin: 1rem;
    }

    .cart-summary {
        padding: 1rem;
    }
}