.nav-sidebar-container {
    flex: 0 0 250px;
    flex-direction: column;
    /* width: 250px; */
}

.nav-sidebar-ul {
    padding: 1rem;
    list-style-type: none;
}

.sidebar-header {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.nav-section-1 {
    display: flex;
    justify-content: space-between;
}

.sidebar-item {
    margin: 0.5rem auto;
}

.slider-values {
    display: flex;
    justify-content: space-between;
}

.slider {
    display: flex;
    flex: 0 0 225px;
    /* width: 225px; */
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .sidebar-header {
        font-size: 1.1rem;
    }

    .sidebar-item {
        font-size: 0.875rem;
    }
}