.product-item-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8rem;
}

.section-left {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 100%;
    max-width: 350px;
}

.section-right {
    border: 1px solid var(--color-grey);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

.section-right > p {
    margin: 0.5rem auto;
}

.product-title {
    font-size: 1.8rem;
}

hr {
    margin: 1.5rem auto;
}

.item-discount, .item-stock {
    color: var(--color-button-solid-success-hover);
}

.item-offer-container {
    margin: 1.5rem auto;
}

.item-payment-icn {
    padding-right: 0.5rem;
}

.product-button-container {
    margin: 1.5rem auto;
}

.prod-btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.95rem;
    border-radius: 0.2rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    text-transform: uppercase;
    margin: 1rem auto;
    width: 100%;
    cursor: pointer;
}

.btn-cta-buy {
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
}

.btn-cta-buy:hover {
    background-color: var(--color-button-icon-bg);
}

.btn-cta-cart {
    background-color: transparent;
    border: 1px solid var(--color-grey);
}

.btn-cta-cart:hover {
    background-color: var(--color-grey);
    color: var(--primary-bg);
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .product-item-body {
        padding: 1rem;
    }

    .section-left {
        width: 300px;
        height: 300px;
        margin: 1rem auto;
        max-width: 100%;
    }

    .product-image {
        width: 100%;
        max-width: 250px;
    }
}